{% extends 'base.html' %}

{% block head %}
<title>Stationery</title>
{% endblock %}
{% block body %}

<div class="content">
    <h1 style="text-align: center">Stationery</h1>
    {% if tasks|length < 1 %} <h4 style="text-align: center">There are no items. Add one below!</h4>
        {% else %}
        <table>
            <tr>
                <th>Items</th>
                <th>Quantity</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{task.quantity}}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <div class="form">
            <h3>Upload your CSV file</h3>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <p><input type="file" name="file"></p>
                <p><input type="submit" value="Submit"></p>
            </form>
        </div>
</div>
{% endblock %}